img{
	width: 100%;
	height: 100%;
}
.only-pc{
	display: block  !important;
}
.only-sp{
	display: none !important;
}
@media screen and (max-width: 414px) {
	.only-sp{
		display: block !important;
	}
	.only-pc{
		display: none !important;
	}
	.header-body .container{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		padding-bottom: 15px;
	}
	.header-body-logo{
		display: flex;
		width: 100%;
		justify-content: center;
	}
	.header-body-search{
		display: flex;
		height: 40px;
		width: 100%;
		border-radius: 5px;
	}
	.header-body-cart{
		display: none;
	}
	.nav{
		margin-top: 130px;
	}
	.nav-hamburger{
		left: 10px;
	}
	.slide{
		margin-top: 10px;
	}
	.slide .carousel-indicators{
		display: none;
	}
	.slide .carousel-control-prev .carousel-control-prev-icon, 
	.slide .carousel-control-next .carousel-control-next-icon{
		display: block;
	}
	.slide .Slide-Carousel{
		width: 100%;
	}
	.slide .banner-sidebar{
		display: none;
	}
	.product-header-menu{
		display: none;
	}
	.product-content-list-item{
		width: 49%;
		margin-right: 1%;
	}
	.product-content-list-item-detail_price{
		display: flex;
		flex-direction: column;
		margin-left: 0;
		justify-content: center;
		align-items: center;
	}
	.product-head{
		display: flex;
		flex-direction: column;
	}
	.product-head-tag{
		margin-top: 7px;
		margin-left: 3px;
	}
	.product-head-tag a{
		margin-top: 2px;
	}
	.product-SeeMore{
		display: block;
		display: flex;
		justify-content: center;
		margin-top: 7px;
	}
	.Cart{
		display: block;
	}
	.footer-content-item{
		width: 50%;
		margin-left: 0;
	}
	.footer-content-call, .footer-content-place{
		margin-top: 10px;
	}
}
@media screen and (min-width: 415px) and (max-width: 999px) {
	/*-----------header----------------------------*/
	.only-pc{
		display: none !important;
	}
	.only-sp{
		display: block !important;
	}
	.header-body .container{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		padding-bottom: 15px;
	}
	.header-body-logo{
		display: flex;
		width: 40%;
		justify-content: center;
	}
	.header-body-search{
		display: flex;
		height: 40px;
		width: 100%;
		border-radius: 5px;
	}
	.header-body-cart{
		display: none;
	}
	.nav{
		margin-top: 130px;
	}
	.nav-hamburger{
		left: 10px;
	}
	.slide{
		margin-top: 10px;
	}
	.slide .carousel-indicators{
		display: none;
	}
	.slide .carousel-control-prev .carousel-control-prev-icon, 
	.slide .carousel-control-next .carousel-control-next-icon{
		display: block;
	}
	.slide .Slide-Carousel{
		width: 100%;
	}
	.slide .banner-sidebar{
		display: none;
	}
	.product-header-menu{
		display: none;
	}
	.product-content-list-item{
		width: 32.33%;
		margin-right: 1%;
	}
	.product-content-list-item-detail_price{
		display: flex;
		flex-direction: column;
		margin-left: 0;
		justify-content: center;
		align-items: center;
	}
	.product-content-list-item-gift_ttl{
		margin-top: -10px;
	}
	.product-head{
		display: flex;
		flex-direction: column;
	}
	.product-head-tag{
		margin-top: 7px;
		margin-left: 3px;
	}
	.product-head-tag a{
		margin-top: 2px;
	}
	.product-SeeMore{
		display: block;
		display: flex;
		justify-content: center;
		margin-top: 7px;
	}
	.Cart{
		display: block;
	}
	.footer-content-item{
		width: 50%;
		margin-left: 0;
	}
	.footer-content-call, .footer-content-place{
		margin-top: 10px;
	}
	
}
@media screen and (min-width: 1000px){
	.header-nav-search{
		display: flex;
		flex-grow: 1;
		height: 100%;
		overflow: hidden;
		border-radius: 3px;
		justify-content: center;
		margin-left: 20px;
	}
	.header-nav-search_input{
		flex-grow: 1;
		height: 100%;
	}
	.header-nav-search_input input{
		height: 100%;
		width: 100%;
		font-size: 16px;
	}
	.header-nav-account{
		margin-top: 10px;
		margin-left: 20px;
	}
	.product-header{
		display: flex;
		flex-direction: column;
		height: auto;
	}
	.nav{
		display: none !important;
	}
}
.Noscroll{
	overflow: hidden;
}

